<footer>
    <div class="container">
        <div class="row">
            <div class="contact">
                <h4>Contact Us</h4>
                <p>Email: Menakhalid2020@gmail.com<br>Phone: 01148841234</p>
            </div>
            <div class="social-medi">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i>
                            Instagram</a></li>
                    <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="https://github.com/Abubakrhegazi/E-Commerce" target="_blank"><i
                                class="fab fa-github"></i> GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
