<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles.css/aboutt.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="title">
        <h1>About us <span>Our E-Commerce </span></h1>
    </div>


    <div class="main-container">
        <div class="image">
            <div><img src="/imgs/models/model8.jpg "></div>
            <button class="button" onclick="alrt()">See Projects</button>
            
        </div>
        <div class="body">
            <h3> About Our Online Store</h3>
            <h1>Risus suspendisse a orci penatibus a felis suscipit consectetur vestibulum sodales dui cum ultricies
                lacus
                interdum. Per suspendisse adipiscing a suspendisse auctor nibh a et at curae condimentum suspendisse
                enim a
                eu scelerisque.

                One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a
                horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his
                brown
                belly, slightly domed and divided by arches into stiff.

                Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis
                reden
                posuere potenti viverra condimentum dictumst id tellus suspendisse convallis condimentum.

                His room, a proper human room although a little too small, lay peacefully between its four familiar
                walls. A
                collection of textile samples lay spread out on the table – Samsa was a travelling salesman.
            </h1>
            <h5>Developed by Mena Khaled  @ 2024.</h5>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
<script src="./scripts/about us.js"></script>
<script src="./scripts/darkMode.js"></script>
</html>