/* Reset and base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    background-color: #f9f9f9;
}

/* Product page layout */
.product-page {
    max-width: 900px; /* Adjusted width */
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.product-images {
    flex: 1; /* Takes up 1/3 of the width */
    margin-right: 20px;
}

.product-details {
    flex: 2; /* Takes up 2/3 of the width */
}

.product-images .main-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.thumbnail-images {
    display: flex;
    justify-content: space-between;
}

.thumbnail-images img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail-images img:hover {
    transform: scale(1.1);
}

.product-details h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.product-details p {
    margin-bottom: 8px;
    line-height: 1.6;
}

.price {
    font-size: 24px;
    color: #e74c3c;
}

.old-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #bdc3c7;
}

.add-to-cart,
.like-button {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover,
.like-button:hover {
    background-color: #2980b9;
}

.like-button {
    background-color: #e74c3c;
    margin-left: 10px;
}

.like-button:hover {
    background-color: #c0392b;
}

.like-button i.liked {
    color: #ff6b6b;
}

/* Advertisements and creative element */
.advertisements {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.advertisement,
.creative-element {
    width: calc((100% - 20px) / 3); /* Calculate width for 3 items with margin */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.creative-element {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
}

.creative-element h2 {
    margin-bottom: 10px;
}

.creative-element p {
    font-style: italic;
}

.advertisement img,
.creative-element img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
